.value1 {
   background-image: url(../assets/content/render-3/image_part_001.jpg);
   background-size: 100% 100%;
}
.value2 {
   background-image: url(../assets/content/render-3/image_part_002.jpg);
   background-size: 100% 100%;
}
.value3 {
   background-image: url(../assets/content/render-3/image_part_003.jpg);
   background-size: 100% 100%;
}
.value4 {
   background-image: url(../assets/content/render-3/image_part_004.jpg);
   background-size: 100% 100%;
}
.value5 {
   background-image: url(../assets/content/render-3/image_part_005.jpg);
   background-size: 100% 100%;
}
.value6 {
   background-image: url(../assets/content/render-3/image_part_006.jpg);
   background-size: 100% 100%;
}
.value7 {
   background-image: url(../assets/content/render-3/image_part_007.jpg);
   background-size: 100% 100%;
}
.value8 {
   background-image: url(../assets/content/render-3/image_part_008.jpg);
   background-size: 100% 100%;
}
.value9 {
   background-image: url(../assets/content/render-3/image_part_009.jpg);
   background-size: 100% 100%;
}
.value10 {
   background-image: url(../assets/content/render-3/image_part_010.jpg);
   background-size: 100% 100%;
}
.value11 {
   background-image: url(../assets/content/render-3/image_part_011.jpg);
   background-size: 100% 100%;
}
.value12 {
   background-image: url(../assets/content/render-3/image_part_012.jpg);
   background-size: 100% 100%;
}
.value13 {
   background-image: url(../assets/content/render-3/image_part_013.jpg);
   background-size: 100% 100%;
}
.value14 {
   background-image: url(../assets/content/render-3/image_part_014.jpg);
   background-size: 100% 100%;
}
.value15 {
   background-image: url(../assets/content/render-3/image_part_015.jpg);
   background-size: 100% 100%;
}
.value16 {
   background-image: url(../assets/content/render-3/image_part_016.jpg);
   background-size: 100% 100%;
}

.image-win {
    background-image: url(../assets/content/render-3/render-3.png);
 }